<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>mainServlet</servlet-name>
        <servlet-class>ua.com.vertex.MainServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>otherServlet</servlet-name>
        <servlet-class>ua.com.vertex.OtherServlet</servlet-class>

        <init-param>
            <param-name>test</param-name>
            <param-value>test</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>mainServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>otherServlet</servlet-name>
        <url-pattern>/saveEmail</url-pattern>
    </servlet-mapping>


</web-app>
